.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #646363cc;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}